bin/
obj/
.vs/
.idea/
TestResults/
playwright-report/
tests/**/bin/
tests/**/obj/
src/**/bin/
src/**/obj/
src/Diagrams.Interop.JsPlumb/node_modules/
vendor/

.codebase-memory/

# Prototyping mess that needs to be cleaned up later
.swe/f003r*
.swe/implementations/**/checks/**

